<div class="container mt-5">
    <h4>Internal Server Error -refreshing the page will make the exception disappear</h4>
     <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If your seeing this then Angular is probably not responsible</p>
    <p>What to do next ?</p>
    <ol>
        <li>Open Chrome dev tools</li>
        <li>Insepect the network tab</li>
        <li>Check the failing request</li>
        <li>Examine the request URL  - make sure this is correct</li>
        <li>Reporduce the error in postman - If we get the same response in postman , then the issue is Not with
            Angular
        </li>

    </ol>
    <p>Following is the stack trace - this is where your investigation should start!</p>
    <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
     </ng-container>
     
</div>