

<carousel >
    <slide>
        <img src="assets/images/img3.jpg.jpg" alt="first-slide" style="display: block;width: 100%; ">
    </slide>
    <slide>
        <img src="assets/images/img2.jpg.jpg" alt="first-slide" style="display: block;width: 100%; ">
    </slide>
    <slide>
        <img src="assets/images/img1.jpg" alt="first-slide" style="display: block;width: 100%;">
    </slide>
</carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-2">
        <h1>Welcome to the shop!</h1>
    </div>
</section>