<div class="card h-100 shadow-sm">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid bg-light">
    <div class="card-body d-flex flex-column">
        <a routerLink="/shop/{{product.id}}">
            <h6 class="class-uppercase">{{product.name}}</h6>
        </a>
        <span class="mb-2">Price:{{product.price }}</span>
      
        <div class="btn-group mt-auto">
          <button (click)="addItemToBasket()" type="button" class="btn  btn-outline-secondary fa fa-shopping-cart mr-2">Cart</button>
          <button routerLink="/shop/{{product.id}}" type="button" class="btn  btn-outline-secondary">View</button>
        </div>
       
      </div>
</div>
  